.btn-group button {
  background-color: rgb(68, 0, 255); /* Green background #04AA6D */
  border: 1px solid black; /* Green border */
  color: white; /* White text */
  min-height: 20px;
  width: 1.8vw;
  height: 2.5vh;
  font-size: 20px;
  text-align: center;
  vertical-align: top;
  margin: 0px 0px;
  line-height: 0px;
  /*padding: 5px 5px;*/ /* Some padding */
  cursor: pointer; /* Pointer/hand icon */
  float: center; /* Float the buttons side by side */
  align:center;
}

/* Clear floats (clearfix hack) */
.btn-group:after {
  content: "";
  clear: both;
  display: table;
}

.btn-group button:not(:last-child) {
  border-right: none; /* Prevent double borders */
}

/* Add a background color on hover */
.btn-group button:hover {
  background-color: red;
  background-color: #3e8e41;
}
.button {
  background-color: #04AA6D; /* Green */
  border: 3px brown;
  color: white;
  padding: 15px 32px;
  align: center;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
.button2 {background-color: #008CBA;} /* Blue */
.button3 {background-color: #f44336;} /* Red */ 
.button4 {background-color: #e7e7e7; color: black;} /* Gray */ 
.button5 {background-color: #555555;} /* Black */
textarea {resize:none;background-color:#e7e7e7;rows:4;cols:50;}
iframe {background-color:powderblue;frameBorder:0;scrolling:auto;}

th{
  color:red;
}
span {
  font-size: 2rem;
  font-weight: 500;
  margin: 0;
}
.table-room{
  background-color: aqua;
  font-size: medium;
  align:center;
}

.smallbutton{
  background-color: #04AA6D; /* Green */
  border: 3px brown;
  color: white;
  padding: 10px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  margin: 4px 2px;
  cursor: pointer;
}

.leaderboard{
  border: 15px;
  font-size: 15px;
  text-align: center;
  background-color:#008CBA;
}

.wordbank{
  background-color:#008CBA;
  font-size: 15px;
}

.wordbank td
{
  padding-bottom:5px;
}
.score{
  background-color:#04AA6D;
  font-size: 25px;
  border-collapse: collapse;
  border: 1px solid red;
}
.score td{
  padding-left: 50px;
  padding-right: 40px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid blue;
}

.gameClock{
  display: flex;
  flex-direction: column;
  text-align: center;
}
.gameClock span{
  margin: 0 0 4px 0;
}
.gameClockValue {
  font-size: 20px;
  font-weight: bold;
  color: #008CBA;
}