.btn-group button {
  background-color: rgb(68, 0, 255); /* Green background #04AA6D */
  border: 1px solid black; /* Green border */
  color: white; /* White text */
  min-height: 20px;
  width: 1.8vw;
  height: 2.5vh;
  font-size: 20px;
  text-align: center;
  vertical-align: top;
  margin: 0px 0px;
  line-height: 0px;
  /*padding: 5px 5px;*/ /* Some padding */
  cursor: pointer; /* Pointer/hand icon */
  float: center; /* Float the buttons side by side */
  align:center;
}

/* Clear floats (clearfix hack) */
.btn-group:after {
  content: "";
  clear: both;
  display: table;
}

.btn-group button:not(:last-child) {
  border-right: none; /* Prevent double borders */
}

/* Add a background color on hover */
.btn-group button:hover {
  background-color: red;
  background-color: #3e8e41;
}
.button {
  background-color: #04AA6D; /* Green */
  border: 3px brown;
  color: white;
  padding: 15px 32px;
  align: center;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
.button2 {background-color: #008CBA;} /* Blue */
.button3 {background-color: #f44336;} /* Red */ 
.button4 {background-color: #e7e7e7; color: black;} /* Gray */ 
.button5 {background-color: #555555;} /* Black */
textarea {resize:none;background-color:#e7e7e7;rows:4;cols:50;}
iframe {background-color:powderblue;frameBorder:0;scrolling:auto;}

th{
  color:red;
}
span {
  font-size: 2rem;
  font-weight: 500;
  margin: 0;
}
.table-room{
  background-color: aqua;
  font-size: 30px;
  align:center;
}

.smallbutton{
  background-color: #04AA6D; /* Green */
  border: 3px brown;
  color: white;
  padding: 10px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  margin: 4px 2px;
  cursor: pointer;
}

.scores_leaderboard{
  font-size: 15px;
  width: 300px;
}

#overflow2{
  background-color: rgb(1, 133, 67);
  height: 300px;
  width: 300px;
  max-height: 300px;
  overflow: auto;
}
#leader_scores{
  position:absolute;
  left:5%;
  top:55%;
}
.wordbank{
  background-color:#ba000f;
  font-size: 15px;
}

.wordbank td
{
  padding-bottom:5px;
}
.score{
  background-color:#04AA6D;
  font-size: 25px;
  border-collapse: collapse;
  border: 1px solid red;
}
.score td{
  padding-left: 50px;
  padding-right: 40px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid blue;
}
#info{
  font-size:15px;
  color:rgb(255, 0, 64);
}
.gameClock{
  display: flex;
  flex-direction: column;
  text-align: center;
}
.gameClock span{
  margin: 0 0 4px 0;
}
.gameClockValue {
  font-size: 20px;
  font-weight: bold;
  color: #008CBA;
}
#chat{
  background-color:peachpuff;
  position:absolute;

  right:2%;
  top:55%;
}
#chatting{
  float:right;
  text-align:left;
  width:300px;
  max-width:300px;
  max-height:300px;
  overflow:auto
}
body{
  background-color:white;
}
#createRoom
{
  position: absolute;
  top: 60%;
  left: 0%;
  
  text-align: center;
  margin:auto;
  width: 25%;
}
#back
{
  position: absolute;
  top: 60%;
  left: 75%;
  text-align: center;
  margin:auto;
  width: 25%;
}
#lobbyPage{
  background-image: url("https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/76cbe9cc-b23e-45b5-9dc3-9f8b42ff52aa/dexv4yf-16378117-7b36-4343-8975-af339b7475fc.gif?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzc2Y2JlOWNjLWIyM2UtNDViNS05ZGMzLTlmOGI0MmZmNTJhYVwvZGV4djR5Zi0xNjM3ODExNy03YjM2LTQzNDMtODk3NS1hZjMzOWI3NDc1ZmMuZ2lmIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.-IZ6RC8JNXGdAeOQJski_dHeRovN8BIhSOEALAxxGZ8");
  background-color: orange;
  /* background-size: cover; */
  text-align: center;
}

.box{
  position: absolute;
  top: 50%;
  left: 25%;
  text-align: center;
  margin:auto;
  width: 50%;
}
.box-group{
  font-size: 40px;
  background-color: blue;
  position: relative;
  width: 40%;
  top: 51px;
}
.box-group1{
  background-color: rgb(68, 0, 255);
  width: 60%;
}
.table-room{
  max-height: 300px;
  overflow:hidden;
  float:none;
}
#overflow{
  background-color: cyan;
  overflow:auto;
  height: 300px;
  width:40%;
}
img{
  width:auto;
  height:200px;
}
#namePage{
  border:#008CBA;
  background-color: gray;
  position: absolute;
  top: 50%;
  left: 25%;
  text-align: center;
  margin:auto;
  width: 50%;
}